<div *ngIf="products.length; else noProducts">
    <div class="row products-grid" 
    *ngIf="viewMode == 'grid'">
    <!-- Products Grid -->
    <div 
      class="col-6 col-sm-4 col-md-3 mb-4" 
      *ngFor="let product of products">
      <product-thumbnail 
        class="product-thumbnail" 
        [product]="product">
      </product-thumbnail>
    </div>
  </div>
  
  <div class="row products-list" 
    *ngIf="viewMode == 'list'">
    <!-- Products List -->
    <div 
      class="col-12" 
      *ngFor="let product of products">
      <product-card 
        class="product-card" 
        [product]="product">
      </product-card>
    </div>
  </div>
</div>

<ng-template #noProducts>
  <hr>
  <p class="text-muted">Nosso estoque se esgotou por aqui!</p>
</ng-template>