<div class="btn-toolbar justify-content-between" role="toolbar">
  <div class="btn-group">
    <button 
      class="btn btn-secondary" 
      (click)="viewMode = 'grid'" 
      (click)="changeView('grid')"
      [class.active]="viewMode == 'grid'">
      Grid
    </button>
    <button 
      class="btn btn-secondary" 
      (click)="viewMode = 'list'" 
      (click)="changeView('list')"
      [class.active]="viewMode == 'list'">
      List
    </button>
  </div>

  <div class="form-row">
    <div class="col input-group">
      <select 
        class="custom-select select-sort" 
        (change)="changeSort($event.target.value)">
        <option 
          *ngFor="let option of sortOptions" 
          [value]="option.value">
          {{ option.label }}
        </option>
      </select>
    </div>

    <div class="col input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Exibir</span>
      </div>

      <select 
        class="custom-select" 
        (change)="changeShow($event.target.value)">
        <option 
          *ngFor="let option of showOptions" 
          [value]="option">
          {{ option }}
        </option>
      </select>
    </div>
  </div>
</div>
