
@import "~src/scss/variables";
@import "~bootstrap/scss/mixins";

// Toolbar
// 

.btn-toolbar {
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    padding: 10px 0;
    margin-bottom: 20px;
}

// Sort
// 

.select-sort {
    width: 140px;
}