<header>
  <div class="header-top">
    <div class="container">
      <div class="row">
        <div class="col">
          <ul class="links-alt">
            <li><a routerLink="/">Institucional</a></li>
            <li><span>/</span></li>
            <li><a routerLink="/">Ajuda</a></li>
          </ul>
        </div>

        <div class="col">
          <ul class="links-login">
            <li><a routerLink="/login">Entrar</a></li>
            <li><span>ou</span></li>
            <li><a routerLink="/register">Cadastrar-se</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="header-content">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-2 col-sm-3 col-md-4 d-lg-none d-flex align-itens-center">
          <button 
            class="hamburger hamburger--collapse" 
            (click)="hamburger = !hamburger"
            (click)="showNavbar = !showNavbar"
            [class.is-active]="hamburger == true"
            type="button">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>
        </div>

        <div class="col-8 col-sm-6 col-md-4 col-lg-3">
          <figure class="logo">
            <a routerLink="/">
              <img [src]="logo" alt="Webjump!">
            </a>
          </figure>
        </div>

        <div class="col-2 col-sm-3 d-md-3 d-lg-none 
          d-flex align-itens-center justify-content-end">
          <button 
            class="btn-search"
            (click)="showSearch = !showSearch">
            <img class="icon-svg" src="/src/assets/icons/search.svg" alt="Buscar">
          </button>
        </div>

        <div 
          class="col-12 col-sm-12 col-md-12 col-lg-5 search-box"
          [class.show-search]="showSearch == true">
          <navigation-search></navigation-search>
        </div>
      </div>
    </div>
  </div>

  <app-navbar
    [active]="showNavbar">
  </app-navbar>
</header>
