
@import "~src/scss/variables";
@import "~bootstrap/scss/mixins";

// header
// 

header {
    margin-bottom: 20px;
    
    .logo {
        margin: 0;
    }

    @include media-breakpoint-down(md){
        border-bottom: 2px solid $gray-100;

        .logo {
            text-align: center;
        }
    }
}

.header-top {
    background: $dark;
    font-size: $font-size-sm;

    ul {
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    li {
        list-style: none;
        color: $gray-500;
        margin-right: 10px;
        padding: 6px 0 8px 0;

        &:last-child {
            margin-right: 0;
        }
    }

    a {
        font-weight: 700;
        color: $white;

        &:hover {
            color: $primary;
        }
    }

    .links-alt {

    }

    .links-login {
        float: right;
    }
    
    @include media-breakpoint-down(sm) {
        font-size: 75%;
    }
}

.header-content {
    padding: 20px 0;
}


// Hamburger
// 

$hamburger-padding-x           : 2px !default;
$hamburger-padding-y           : 2px !default;
$hamburger-layer-width         : 38px !default;
$hamburger-layer-height        : 4px !default;
$hamburger-layer-spacing       : 6px !default;
$hamburger-layer-color         : #000 !default;
$hamburger-layer-border-radius : 2px !default;
$hamburger-hover-opacity       : 0.7 !default;
$hamburger-active-layer-color  : $hamburger-layer-color !default;
$hamburger-active-hover-opacity: $hamburger-hover-opacity !default;

$hamburger-hover-use-filter   : false !default;
$hamburger-hover-filter       : opacity(50%) !default;
$hamburger-active-hover-filter: $hamburger-hover-filter !default;

@import "~hamburgers/_sass/hamburgers/hamburgers";

.hamburger {
    margin-top: 4px;

    &:focus {
        outline: none;
    }
}


// Search Button
// 

.btn-search {
    padding: 2px;
    border: 0;
    background-color: transparent;
    margin-bottom: 2px;

    &:hover {
        cursor: pointer;
    }

    &:focus {
        outline: none;
    }
    
    .icon-search {

    }
}

.show-search {
    @include media-breakpoint-down(md) {
        display: none;
    }
}

.search-box {
    @include media-breakpoint-down(md) {
        margin-top: 20px;
    }
}
