<div class="filters">
  <h3>Filtre por</h3>
  <hr>
  <div class="filters-group">
    <h5>Categoria</h5>
    <ul class="filter-nav">
      <li><a href="#">Backend</a></li>
      <li><a href="#">Frontend</a></li>
      <li><a href="#">devOps</a></li>
      <li><a href="#">UI/UX Design</a></li>
    </ul>
  </div>

  <hr>

  <div class="filters-group">
    <h5>Cores</h5>
    <ul class="filter-colors">
      <li class="btn-group-toggle">
        <label class="btn btn-primary active">
          <input type="checkbox" checked>
        </label>
      </li>
      <li class="btn-group-toggle">
        <label class="btn btn-light">
          <input type="checkbox">
        </label>
      </li>
      <li class="btn-group-toggle">
        <label class="btn btn-success">
          <input type="checkbox">
        </label>
      </li>
      <li class="btn-group-toggle">
        <label class="btn btn-dark">
          <input type="checkbox">
        </label>
      </li>
      <li class="btn-group-toggle">
        <label class="btn btn-warning">
          <input type="checkbox">
        </label>
      </li>
      <li class="btn-group-toggle">
        <label class="btn btn-info">
          <input type="checkbox">
        </label>
      </li>
    </ul>
  </div>

  <hr>

  <div class="filters-group">
    <h5>Tamanho</h5>
    <ul class="filter-nav">
      <li><a href="#">Pequeno</a></li>
      <li><a href="#">Médio</a></li>
    </ul>
  </div>
</div>
