
@import "~src/scss/variables";
@import "~bootstrap/scss/mixins";

// Filters
// 

.filters {
    padding: 20px 20px 10px;
    border: 1px solid $border-color;
    border-radius: $border-radius;
}

.filters-group {

}

.filter-nav {
    padding-left: 17px;

    li {
        color: $gray-500;
        margin: 3px 0;
    }

    a {
        position: relative;
        margin-left: -6px;
        color: $gray-700;
        font-weight: 600;

        &:hover {
            color: $primary;
        }
    }
}

.filter-colors {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-left: -2px;
    margin-right: -2px;

    li {
        list-style: none;
        flex-basis: (100% / 4);
        padding: 4px;

        @include media-breakpoint-down(sm) {
            flex-basis: (100% / 5);
        }
    }

    .btn {
        width: 100%;
        min-height: 40px;
    }
}