<div class="input-group input-group-lg">
  <input type="text" class="form-control" placeholder="Procurar na loja...">

  <div class="input-group-append">
    <button class="btn btn-primary" type="button">Buscar</button>
  </div>
</div>
