<div class="card product-thumbnail">
  <figure class="card-img">
    <a [routerLink]="product.path">
      <img
        [src]="'/src/assets/catalog/' + product.thumbnail" 
        [alt]="product.name" 
        [title]="product.name">
      </a>
  </figure>

  <div class="card-body">
    <h2 class="card-title">
      <a [routerLink]="product.path">{{ product.name }}</a>
    </h2>
    <div class="card-text">
      <p class="card-price">
        <span class="price-regular">
            {{ product.price | currency:'BRL' }}
        </span>
        <span class="price-old" *ngIf="product.old_price">
            {{ product.old_price | currency:'BRL' }}
        </span>
      </p>
    </div>

    <div class="card-actions">
      <button 
        class="btn btn-block"
        [class.btn-secondary]="product.stock >= 1"
        [class.btn-light]="product.stock <= 0"
        [routerLink]="product.path">
        {{ (product.stock >= 1) ? 'Comprar' : 'Sem estoque' }}
      </button>
    </div>
  </div>
</div>
