
@import "~src/scss/variables";

// Product Thumbnail
// 

.product-thumbnail {
    border: 0;

    .card-img {
        position: relative;
        padding-bottom: 100%;
        background-image: url('/src/assets/loading.svg');
        background-size: 32px 32px;
        background-repeat: no-repeat;
        background-position: 50% 50%;

        a {
            position: absolute;
            top: 0;
            left: 0;
            
            &,
            img {
                width: 100%;
            }
        }
    }

    .card-body {
        padding: 0;
    }

    .card-title {
        font-size: 1rem;
        text-align: center;
        min-height: 38px;
        a {
            color: $dark;

            &:hover {
                color: $primary;
            }
        }
    }

    .card-price {
        display: flex;
        justify-content: center;

        .price-regular {
            color: $primary;
            font-weight: $font-weight-bold;
        }

        .price-old {
            font-size: $font-size-sm;
            color: $gray-500;
            text-decoration: line-through;
            margin-left: 10px;
            padding-top: 1px;
        }
    }

    .card-actions {

    }
}