
// Product card
// 

.product-card {
    margin-bottom: 20px;

    .card-body {
        display: flex;

    }

    .card-image {
        flex-basis: 20%;
    }

    .card-content {
        flex-basis: 60%;
    }

    .card-actions {
        flex-basis: 20%;
    }
}