<div class="card product-card">
  <div class="card-body">
    <div class="card-image">
      <figure>
        <img class="img-fluid" [src]="product.image" [alt]="product.name">
      </figure>
    </div>

    <div class="card-content">
      <h2 class="card-title">{{ product.name }}</h2>
    </div>

    <div class="card-actions bg-light">
      <a href="#" class="btn btn-primary btn-block">Comprar</a>
    </div>
  </div>
</div>
