<nav>
  <ul class="pagination">
    <li class="page-item"
      [class.disabled]="!prev">
      <button 
        class="page-link"
        (click)="pagePrev()"
        (click)="changePage(pageCurrent)">
        Anteior
      </button>
    </li>

    <!--
      TODO: get pagination length
      from API response
    -->
    <!-- <li class="page-item" 
      *ngFor="let page of pages"
      [class.active]="pageCurrent == page">
      <button 
        class="page-link"
        (click)="pageCurrent = page"
        (click)="changePage(page)">
        {{ page }}
      </button>
    </li> -->
    
    <li class="page-item"
      [class.disabled]="!next"
      (click)="pageNext()"
      (click)="changePage(pageCurrent)">
      <button 
        class="page-link">
        Próxima
      </button>
    </li>
  </ul>
</nav>
