<section class="container">
  <navigation-breadcrumb [bcrumbs]="breadcrumbs" [current]="categoryName">
  </navigation-breadcrumb>
</section>

<section class="container">
  <div class="row">

    <div class="col-12 col-sm-6 col-md-6 col-lg-7">
      <div class="card">
        <div class="card-body">
          Galeria
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-6 col-lg-5">
      <div class="card">
        <div class="card-body">
          Informações do produto
          <hr>
          Comprar / Favoritos
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-6 mt-5">
      <div class="card">
        <div class="card-body">
          descrição, atributos e detalhes
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-6 mt-5">
      <div class="card">
        <div class="card-body">
          Reviews
        </div>
      </div>
    </div>

    <div class="col-12 mt-5">
      <div class="card">
        <div class="card-body">
          Produtos relacionados
        </div>
      </div>
    </div>

  </div>
</section>
