<div class="container mt-5mb-5">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-8 col-md-6 mt-5 mb-5 pt-5 pb-5">
      <div class="card pt-5 pb-5 pr-5 pl-5">
        <div class="card-body text-center">
          <h5 class="card-title">Register</h5>
        </div>
      </div>
    </div>
  </div>
</div>
