
@import "~src/scss/variables";
@import "~bootstrap/scss/mixins";

// Pager
// 

.pager {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 10px;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    margin-bottom: 20px;

    p {

    }
}