<section class="container">
  <navigation-breadcrumb
    [bcrumbs]="breadcrumbs"
    [current]="categoryName">
  </navigation-breadcrumb>
</section>

<section class="container">
  <div class="row">

    <aside class="col-12 col-sm-12 col-md-3 col-lg-3">
      <navigation-filters></navigation-filters>
    </aside>

    <div class="col">
      <h1>{{ categoryName }}</h1>

      <div class="toolbar">
        <navigation-toolbar 
          *ngIf="products.length"
          (showChange)="showApply($event.show)"
          (sortChange)="sortApply($event.sort)"
          (viewChange)="viewApply($event.view)"
          [showOptions]="showOptions">
        </navigation-toolbar>
      </div>

      <div class="catalog">
        <catalog-list
          [viewMode]="viewMode"
          [products]="products">
        </catalog-list>
      </div>

      <div class="pager"
        *ngIf="products.length">
        <p class="text-muted pt-2">
          Exibindo <strong>{{ showCurrent }}</strong> 
          produtos em página <strong>{{ pageCurrent }}</strong>
        </p>

        <navigation-pagination
          (pageChange)="pageApply($event.page)"
          [next]="pageNext">
        </navigation-pagination>
      </div>
    </div>
  </div>
</section>
