<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li 
      class="breadcrumb-item">
      <a routerLink="/">
        Home
      </a>
    </li>

    <li 
      class="breadcrumb-item"
      *ngFor="let bread of bcrumbs">
      <a [routerLink]="bread.path">
        {{  bread.label }}
      </a>
    </li>
    
    <li 
      class="breadcrumb-item active"
      aria-current="page">{{ current }}</li>
  </ol>
</nav>
