<nav 
  class="navbar navbar-expand-lg navbar-dark bg-primary"
  [class.is-active]="active == true">
  <div class="container">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" 
        *ngFor="let el of navbar; let i = index" 
        routerLinkActive="active" 
        [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" [routerLink]="nav[i].path">
          {{ nav[i].name }}
        </a>
      </li>
    </ul>
  </div>
</nav>
