
@import "~src/scss/variables";
@import "~bootstrap/scss/mixins";

// Navbar
// 

.navbar {
    a {
        font-weight: 600;
    }

    @include media-breakpoint-down(md) {
        position: fixed;
        z-index: 100;
        top: 0;
        right: -50%;
        width: 50%;
        height: 100%;
        transition: all .1s;

        &.is-active {
            right: 0;
            transition: all .2s;
        }

        .navbar-nav {
            font-size: 1.2rem;
            padding: 30px;
        }
    }

    @include media-breakpoint-down(sm) {
        right: -75%;
        width: 75%;
    }
}